<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

</head>
<body>
<div class="container">
<div>
    <img alt="" th:src="@{'/image/'+${person.getImg()}}">
    <i th:text="${message}"></i>
</div>
<a href="/home">Go Home</a>
<div>

    <h3>Delete Form</h3>
    <form method="post" th:action="@{/delete/{id}(id=${person.id})}">
        <table>
            <tr>
                <td>ID</td>
                <td th:text="${person.id}"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td th:text="${person.firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td th:text="${person.lastName}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td th:text="${person.age}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="${person.address}"></td>
            </tr>
            <tr>
                <td>Position</td>
                <td th:text="${person.location.name}"></td>
            </tr>
            <tr>
                <td>Height</td>
                <td th:text="${person.height}"></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td th:text="${person.weight}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>

    </form>
</div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>