<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

</head>
<body>
<h3 th:text="#{EditForm}"></h3>
<i th:text="${message}"></i>
<div class="container">
    <div class="left">
        <img class="edit" alt="" th:src="@{'/image/'+${person.getImg()}}">

        <form enctype="multipart/form-data" method="post" th:action="@{/editFile/{id}(id=${person.id})}"
              th:object="${myFile}">
            Images: <input th:field="*{multipartFile}" type="file"/> <br/> <br/>
            <input type="submit" value="Submit"/>
        </form>

    </div>
    <div class="right">

        <form method="post" th:action="@{/edit}" th:object="${person}">

            <table>

                <tr>
                    <input th:field="*{id}" type="hidden">
                </tr>
                <tr>
                    <input th:field="*{img}" type="hidden">
                </tr>
                <tr>
                    <td th:text="#{FirstName}"></td>
                    <td><input th:field="*{firstName}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{LastName}"></td>
                    <td><input th:field="*{lastName}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{Age}"></td>
                    <td><input th:field="*{age}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{Address}"></td>
                    <td><input th:field="*{address}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{Height}"></td>
                    <td><input th:field="*{height}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{Weight}"></td>
                    <td><input th:field="*{weight}" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{Location}"></td>
                    <td><select name="location">
                        <option th:each="p : ${location}" th:text="${p.name}" th:value="${p.id}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td><input type="submit" th:value="#{Add}"></td>
                    <td><a href="/home">Go Home</a></td>
                </tr>
            </table>


        </form>
    </div>
</div>
<br>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">VietNamese</a>
<br>
<hr>
<footer th:replace="layout :: footer"></footer>
</body>
</html>