<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

</head>
<body>

<a href="/registry">Registry</a>
<br>
<div class="container">
    <h3 th:text="#{FootballManagement}"></h3>

    <div>
        <div class="search">
            <form action="home">
                <tr>
                    <td><input name="s" type="text"></td>
                    <td><input type="submit" value="Search"></td>
                </tr>
                <br>
                <br>

            </form>
        </div>
    </div>
    <div>
        <form action="">


            <table>
                <tr>
                    <td th:text="#{ID}"></td>
                    <td th:text="#{FirstName}"></td>
                    <td th:text="#{LastName}"></td>
                    <td th:text="#{Age}"></td>
                    <td th:text="#{Address}"></td>
                    <td th:text="#{Location}"></td>
                    <td th:text="#{Picture}"></td>
                </tr>

                <tr th:each="p : ${persons}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.firstName}"></td>
                    <td th:text="${p.lastName}"></td>
                    <td th:text="${p.age}"></td>
                    <td th:text="${p.address}"></td>
                    <td th:text="${p.location.name}"></td>
                    <td>
                        <a th:href="@{/info/{id}(id=${p.id})}"><img alt="" th:src="@{ '/image/'+${p.getImg()}}"></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div>
    <a th:href="@{'/home?page='+${persons.number -1}+'&s='+ ${search}  }" th:if="${persons.hasPrevious()}">Previous</a>
    <span th:text="${persons.number + 1}"></span>/<span th:text="${persons.totalPages}"></span>
    <a th:href="@{'/home?page='+${persons.number +1}+'&s='+ ${search}  }" th:if="${persons.hasNext()}">Next</a>
</div>
<br>
<form action="#" method="POST" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
<br>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">VietNamese</a>
<br>
<hr>
<footer th:replace="layout:: footer"></footer>
</body>
</html>